body{
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1{
    margin-bottom: 20px;
    columns: #333;
}
table{
    width: 60px;
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
thead tr{
    background-color: #4caf50;
    color: white;
    text-align: left;
}

th,
td{
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
/*th{
    background-color: #555;
    color: #fff;
}*/